/* Reset some default margins and paddings */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
  }
 
  /* Basic styles */
  body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f0eada;
  }

  button{
    font-family: 'Montserrat', sans-serif;
  }
 
  /* Header styles */
  header {
    height: auto;
    width: 100%;
    background-color: #5d4b32; 
    color: #f0eada; 
    position: relative; 
  }
 
  /* Navbar styles */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 6%;
  }

  .navbar img{
    width: 100px;
  }

  .nav-links {
    flex: 1;
    text-align: right;
    color:#f0eada;
  }

  .nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
  }

  .nav-links ul li a{
    color:#f0eada;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
  }

  .nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background:#f0eada;
    display: block;
    margin: auto;
    transition: 0.5s;
  }

  .nav-links ul li:hover::after{
    width: 100%;
  }

  /* Hamburger & Sidebar styles for smaller screens */
#menuToggle {
  display: none;
}

.menu-icon {
  display: none;
  font-size: 30px;
  cursor: pointer;
  z-index: 2;
}

.navbar-content {
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: #5d4b32;
  width: 0;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition: 0.3s;
  z-index: 1;
  padding-top: 120px;
}

.navbar-content ul li a{
  color:#f0eada;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

.navbar-content ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background:#f0eada;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.navbar-content ul li:hover::after{
  width: 100%;
  color: #f0eada;
}

.navbar-content ul {
  flex-direction: column;
}

.navbar-content ul li {
  text-align: center;
  display: block; 
  padding: 8px 12px;
  position: relative;
}

#menuToggle:checked + .menu-icon + .navbar-content {
  display: flex;
  width: 250px;
}

  
  /* Introductory Section styles */
  #intro {
    text-align: center;
    background-image: url('./img/desk.jpg');
    background-size: cover; /* Ensure the image covers the entire area */
    background-repeat: no-repeat; /* Do not repeat the image */
    height: 600px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .intro-content {
    color: #5d4b32;
    margin: 20px;
  }

  .intro-content h2{
    font-size: 40px;
    text-transform: uppercase;
  }

  .sharp-text {
    font-size: 150px;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    color: #656d4f;
  }

  .intro-content p {
    font-size: 20px;
  }
  
  .shop-button {
    display: inline-block;
    padding: 10px;
    margin-top: 20px;
    background-color: #656d4f; 
    color: #f0eada;
    text-decoration: none;
    cursor: pointer;
  }
 
  .shop-button:hover {
    background-color: #4d533d;
  }

  /* Welcome Section styles */
  #welcome {
    padding-top: 50px;
    margin: auto;
  }
 
  .welcome-content {
    text-align: center; /* Center text within the section */
  }
 
  .welcome-title {
    font-size: 36px; 
    text-transform: uppercase; /* All caps */
    color: #656d4f;
    margin-bottom: 10px;
  }
 
  .welcome-text-content p{
    font-size: 14px; 
    color: #5d4b32;
    line-height: 22px;
    padding: 10px;
    margin: 0px 30px 0px 30px;
  }

  /* Why Choose Us Section styles */
  #why-choose-us {
    text-align: center;
    padding: 20px;
    background-color: #f0eada;
  }
 
  .why-choose-title {
    font-size: 36px; 
    text-transform: uppercase; /* All caps */
    color: #656d4f;
    margin-bottom: 20px; /* Add margin below the title */
  }
 
  .icon {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  }

  .icon-item {
    text-align: center;
    margin-bottom: 20px; /* Adjust spacing between icon and text */
  }
 
  .icon-item img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }

  .icon-text {
    font-size: 18px; /* Font size for the text below each icon */
    font-weight: bold; /* Bold font for the text below each icon */
    color: #656d4f; 
    margin-bottom: 10px; /* Add margin between the text and the icon */
    padding: 10px;
  }
 
  .icon-description {
    font-size: 14px; /* Font size for the description text */
    color: #5d4b32; /* Dark green color */
    margin: 0 25px; /* Add margin between the paragraphs */
  }

  /* Footer section styles */
  footer {
    background-color: #656d4f; /* Dark green background color */
    color: #f0eada; /* White text color */
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
 .footer-content{
    display: flex;
    justify-content: center;
    align-items: center;
 }
  .copyright {
    margin: 0;
  }
 
  .social-links a {
    color: #f0eada;
    margin-left: 10px;
  }
 
  .social-links a img{
   width: 25px;
   height: 25px;
  }

  /*Products Styling*/
.products-page body {
  background-color: #f0eada;
}

.product-header{
  text-align: center;
  color:#5d4b32;
  margin-top: 20px;
}

.product-header h1{
  font-size: 45px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /*3 rows and 3 columns*/
  gap: 20px;
  padding: 50px;
  color: #5d4b32;
  text-align: center;
}

.product {
  background: transparent;
  box-shadow: 5px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  position: relative;
  transition: all 0.3s;
}

.product img {
  width: 100%;
  height: 300px;
  border-radius: 10px 10px 0px 0px;
}

.product-info p{
  margin: 10px;
}

.product-info h3 {
  text-transform: uppercase;
}

.price {
  font-weight: bold;
}

.product::before{
  border-radius: 10px;
  content: " ";
  position: absolute;
  top:0;
  right:0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0);
  transition: 0.3s;
}

.product:hover::before {
  border-radius: 10px;
  background-color: rgba(0,0,0,0.2);
}

.product .add-to-cart {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
  border-radius: 5px;
  color: #f0eada;
  text-transform: uppercase;
}

.product:hover .add-to-cart {
  display: block;
  cursor: pointer;
}

.product:hover {
  transform: translateY(-3px);
}

.services{
  text-align: center;
  padding: 10px;
  margin: 10px;
  color:#5d4b32;
}

.services h1{
  margin-bottom: 10px;
  font-size: 40px;
  text-transform: uppercase;
}

.service-row {
  margin-top: 3%;
  display: flex;
  justify-content: space-between;
}

.service-item{
  flex-basis: 31%;
  background: #dbd6c6;
  border-radius: 10px;
  margin-bottom: 3%;
  padding: 20px 10px;
  box-sizing: border-box;
  transition: 0.5s;
}

.service-item h3{
  font-weight: 600;
  margin: 10 0px;
}

.service-item:hover{
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

.service-item img{
  width: 100%;
  height: 250px;
}

.support {
  width: 80%;
  margin: auto;
  padding-top: 20px; 
  text-align: center;
  color:#5d4b32;
}

.support h1{
  font-size: 36px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.support-row{
  margin-top: 3%;
  display: flex;
  justify-content: space-between;
}

.support-item{
  flex-basis: 44%;
  border-radius: 10px;
  margin-bottom: 3%;
  text-align: left;
  background: #dbd6c6;
  padding: 25px;
}

.support-item img{
  height: 40px;
  width: 40px;
  margin-left: 5px;
  margin-right: 30px;
  margin-bottom: 10px;
  border-radius: 50%;
}


/* Subscribe Section styles */
.subscribe-container{
  width: 100%;
  height: 100vh;
  background-image: url(./img/subscribe.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.form-box{
  width: 90%;
  max-width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color:rgba(0,0,0,0.25);
  padding:30px;
  border-radius: 3px;
  text-align: center;
}

.form-box h1{
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 60px;
  color: #f0eada;
  position: relative;
}

.form-box h1::after{
  content: '';
  width: 30px;
  height: 4px;
  border-radius: 3px;
  background: #f0eada;
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%)
}

.input-field{
  background: #f0eada;
  margin: 15px 0;
  border-radius: 3px;
  display: flex;
  align-items: center;
}

.subscribe-container input{
  width: 100%;
  background: transparent;
  border: 0;
  outline: 0;
  padding: 18px 15px;
}

.input-field i{
  margin-left: 15px;
  color: #5d4b32;
}

.subscribe-button{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.subscribe-button button{
  flex-basis: 48%;
  background: #656d4f;
  height: 40px;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  text-transform: uppercase;
  color: #f0eada;
}

.input-group{
  height: 200px;
}


/* Reach Out Section styles */
#reach-out {
  background-image: url('./img/background.jpg');
  background-size: cover; /* Ensure the image covers the entire area */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-position: center 70%;
  padding: 75px;
  color: #5d4b32; 
}

.reach-out-content {
  text-align: center;
}

.reach-out-button {
  display: inline-block;
  padding: 15px 30px;
  background-color: #5e4c1d; /* Dark green background color */
  color: #f0eada; /* Beige text color */
  text-decoration: none;
  margin: 20px;
}

.reach-out-button:hover {
  background-color: #4b3d19; /* Slightly darker shade of dark green for hover effect */
}


/*Contact Section Styles*/
#contact {
  background-image: url(./img/contact.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 10px;
  height: 100vh;
  color:#656d4f;
}

#contact h1{
  font-size: 36px;
}

.contact-section{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color:#5e4c1d;
}

.contact-form textarea{
  max-width: 100%;
}

.contact-form input {
  width: 100%;
  margin-bottom: 17px;
  outline: none;
  border: 1px solid #656d4f;
  box-sizing: border-box;
  height: 40px;
}

.contact-form textarea {
  resize: none;
  width: 100%;
  margin-bottom: 17px;
  outline: none;
  border: 1px solid #656d4f;
  box-sizing: border-box;
}

.contact-button {
  display: inline-block;
  padding: 15px 30px;
  background-color: #5e4c1d;
  color: #f0eada; /* Beige text color */
  text-decoration: none;
  border: none;
  margin: 20px;
}

.contact-button:hover {
  background-color: #4b3d19; /* Slightly darker shade of dark green for hover effect */
}

#about {
  box-sizing: border-box;
}

.about-title {
  color: #656d4f;
  font-size: 36px;
  text-align: center;
  padding-top: 35px;
  text-transform: uppercase;
}

.about-container {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 65px auto;
}

.about-content {
  flex: 1;
  width: 600px;
  margin: 0px 25px;
}

.about-img {
  flex: 1;
  margin: auto;
}

.about-container img{
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.about-content h2 {
  font-size: 30px;
  margin-bottom:20px;
  color: #53442f;
}

.about-content p{
  font-size: 20px;
  line-height: 1.5;
  margin-bottom:40px;
  padding-right: 30px;
  color: #53442f;
}

.about-content button{
  display: inline-block;
  background-color: #53442f;
  color:#f0eada;
  padding: 12px 24px;
  border-radius:5px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.about-content button:hover{
  background-color: #656d4f;
  transform: scale(1.1);
}

#members{
  background-color: #656d4f;
  color: #f0eada
}
 #members .member-title{
  text-align: center;
  font-size: 36px;
  text-transform: uppercase;
  padding: 20px;
}

.member-container{
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

.member {
  text-align: center;
  margin: 30px;
}

.member img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.member p{
  font-size: 15px;
}

  @media(max-width: 1200px){
    #intro {
      background-position: center;
      justify-content: center;
      align-items:flex-start;
      background-image: url('./img/desk.jpg');
    }
    .intro-content h2{
      font-size: 30px;
    }
    .sharp-text {
      font-size: 140px;
    }
    .intro-content p {
      font-size: 15px;
    }
    .reach-out-message{
      font-size: 13px;
    }

    .product img {
      width: 100%;
      height: 200px;
    }

    .support-row{
      flex-direction: column;
    }

    .about-title {
      font-size: 45px;
      padding-top: 30px;
    }

    #about{
      margin: 0px;
      padding: 30px;
    }

    .about-container{
      width: 100%;
      flex-direction: column;
      margin: 0px;
    }

    .about-content{
      width: 100%;
      margin: 35px;
    }

    .about-content h2{
      font-size: 30px;
    }

    .about-content p{
      font-size: 18px;
      margin-bottom: 20px;
    }

    .about-content button{
      font-size: 16px;
      padding: 8px 16px;
    }

  }

  @media(max-width: 768px){
    .intro-content h2{
      font-size: 20px;
    }
    .sharp-text {
      font-size: 100px;
    }

    .navbar {
      position: relative;
    }

  .menu-icon {
      display: block;
    }

  .nav-links {
      display: none; /* hide the original navbar on small screens */
  }

  .navbar-content{
    display: block;
  }
  .icon {
    display: flex;
    flex-direction: column;
  }

  .reach-out-message {
    display:none;
  }

  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
/*have services appear in a colum*/
  .service-row {
    flex-direction: column;
  }

  .form-box{
    width: 70%;
  }

  @media(max-width: 500px){
    .product-grid {
      grid-template-columns: repeat(1, 1fr);
    }
    .product img {
      height: 300px;
    }
  }


}
 
 
  